* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100vh;
  background-attachment: fixed;

  font-family: Arial, Helvetica, sans-serif;
  background-image: url(images/wallpaper-v5.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.hidden {
  display: none;
}

.h2-container {
  position: relative;
  margin-bottom: 20px;
  color: #000000;
  text-align: center;
}

.h2-container h2 {
  margin: 0;
}

.logo-container {
  width: 60px;
  height: 60px;
}

p,
#loginForm,
#registerForm,
#transactionForm {
  text-align: center;
}

.register-form-container,
.login-form-container {
  align-items: center;
}

#app,
.user-input,
.currency-label,
.description-label,
.input-transaction {
  margin: 0 auto;
}

.login-form,
.register-form-container,
.transaction-form-container,
.dashboard-container {
  width: 100%;
  margin: 0 5px;
  padding: 50px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.45);
}

.transaction-form-container {
  position: relative;
  padding: 50px;
}

.username-container {
  width: 100%;
  margin-bottom: 20px;
}

.login-button,
.register-button,
.transaction-button {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 20px;
  align-items: center;
  background: #7da9ff;
  color: #ffffff;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
}

.login-button,
.register-button {
  margin-bottom: 20px;
}

.input,
.input-register,
.input-transaction {
  width: 100%;
  height: 35px;
  padding-left: 10px;
}

.input-register,
.input-transaction {
  margin-bottom: 20px;
}

.register-login-link {
  margin-left: 3px;
  color: #1e4ec9;
  text-decoration: none;
}

.balance-container {
  width: 250px;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  border-radius: 20px;
  align-items: center;
  background: #7da9ff;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
}

.add-transaction-link {
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

.description-h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #6898f7;
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
}

.table-container {
  max-height: 200px;
  align-items: center;
  overflow-x: auto;
  margin-bottom: 20px;
  background-color: #ffffff;
  table-layout: fixed;
}

th,
td {
  padding: 5px;
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 0;
  padding: 50px;
  align-items: center;
  user-select: none;
}

.navigation-link-header {
  margin-left: 20px;
  text-align: left;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.balance-currency-container {
  text-align: center;
}

.balance-text {
  display: inline-block;
  width: 400px;
  margin-bottom: 20px;
  color: #4f7fe0;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  font-style: bold;
}

.cancel-button-container {
  position: absolute;
  right: 25px;
  top: 25px;
}

.cancel-image {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.cancel-button {
  background-color: transparent;
  border: none;
}

.header-transaction {
  display: flex;
  align-items: center;
}

.dashboard {
  padding: 40px;
}

@media only screen and (min-width: 600px) {
  .login-form,
  .register-form-container,
  .transaction-form-container,
  .dashboard-container {
    width: 500px;
    margin: 0 auto;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.45);
  }
}
